doctype html
html
    head
        meta(charset="UTF-8")
        title Chess Arena - vs Stockfish
        link(rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css")
        link(rel="stylesheet", href="/public/styles.css")
    body
        div.game-layout
            div.board-container
                #board(style="width: 550px")
            
            div.sidebar
                div.panel-card
                    h1 Vs Stockfish
                    p Playing as: 
                        strong(class=color) #{color.toUpperCase()}
                    
                    hr
                    
                    div.control-group
                        label(for="difficulty-select") Bot Difficulty
                        select#difficulty-select
                            option(value="800") 800 Elo (Beginner)
                            option(value="1400" selected) 1400 Elo (Intermediate)
                            option(value="2000") 2000 Elo (Advanced)
                            option(value="2500") 2500 Elo (Grandmaster)
                    
                    hr
                    
                    div.actions
                        button#theme-toggle.btn Change Theme
                        a(href="/").btn.btn-outline Return Main Menu

        script(src="https://code.jquery.com/jquery-3.6.0.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js")
        script(src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js")
        script(src="/socket.io/socket.io.js")
        script.
            window.playerColor = "!{color}"
        script(src="/public/clientBot.js")
        include buttonThemeChange.pug