body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
}

.white-1e1d7 {
    background-color: #eeecd2 !important;
}

.black-3c85d {
    background-color: #566496 !important;
}